/* --- Generale body e close --- */
body {
    margin: 0;
    background: #fff;
    color: #000;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.close {
  position:fixed;
  right:0px;
  top:0px;
  font-size: 32px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 2000;
  background: rgba(255, 255, 255, 1);
  color: #000;
  cursor:pointer;
  text-decoration: none;
  border: 1px solid #000000;
}

@media screen and (min-width: 1921px) {
.close {font-size: clamp(50px, 2dvh, 70px); width:clamp(50px, 2dvh, 70px)!important;height:clamp(50px, 2dvh, 70px)!important }
}

/* --- Contenitore immagine singola --- */
.single-image-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* centra verticalmente tutto il contenuto */
    box-sizing: border-box;
    min-height: 100dvh;
}

.single-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 80dvh;
    max-width: 1500px;
    max-height: 1500px;
    margin-bottom: 20px;
}

.single-image-container img,
.single-image-container video {
    display: block;
    max-width: 1500px;
    max-height: 1500px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media screen and (max-width: 1500px), screen and (max-height: 1500px) {
    .single-image-container {
        width: 100%;
        height: 80vh;
        max-width: 100%;
        max-height: 80vh;
    }
    .single-image-container img,
    .single-image-container video {
        width: auto;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}

/* --- Titolo e testo --- */
.single-image-title {
    margin-top: 20px;
    text-align: center;
    font-size: clamp(18px, 2.8dvw, 28px);
    font-weight: 600;
    word-break: break-word;
}

.single-image-text {
    margin: 15px;
    max-width: 70dvw;
    text-align: left;
    max-width: 700px;
    line-height: 1.4em;
    font-size: clamp(14px, 2dvw, 22px);
}

/* --- Testo aggiuntivo / overflow --- */
.text {
    max-width: 25vw;
    min-width: 20vw;
    overflow: auto;
    padding: 1.5vw;
    line-height: 1.4em;
    font-size: clamp(10px, 1.4dvw, 24px);
}
.single-image-license {
  margin: 15px;
  padding-top: 16px;
  border-top: 1px solid #ddd;

  font-size: clamp(14px, 2dvw, 22px);
  line-height: 1.5;
  color: #777;
  text-align: left;
  max-width: 700px;
}
.single-image-container video {
    max-width: 100%;
    height: auto;
    display: block;
}
